*{
    font-family:Arial, Helvetica, sans-serif;
}

p{
    font-size: 13px;
}

#titulo {
    font-size: 25px;
    color: cadetblue;
}

p strong {
    color: red;
}

span.destacado,
.especial,
table strong{
    color: goldenrod;
}

#subtitulo{
    font-size: 20px;
    color: blue;
}

a {
    color: red;

}

a em {
    color: blue;
}

span .especial{
    color: purple;
}

table caption {
    text-align: center;
    font-size: 12px;
    color: blue;
}

table, td, th{
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
    font-size: 13px;
}

table tbody td {
    color: green;
}

th[scope="row"]:not(.especial) { /*ha seleccionado aquellos th cuyos atriburo scol tengo el valor row y cullo valor no sea de clase .especial*/
    color: red;
}

table tfoot{
    color: red;
}

#adicional {
    color: olive;
}

#adicional span#especial{
    color: deeppink;
}

#adicional a {
    color: green;
}